activemq {
   org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule sufficient
       debug=true
       initialContextFactory="com.sun.jndi.ldap.LdapCtxFactory"
       connectionURL="ldaps://openldap:636"
       connectionUsername="cn=admin,dc=example,dc=org"
       connectionPassword="password0"
       connectionProtocol="ssl"
       authentication="simple"
       userBase="dc=example,dc=org"
       userSearchMatching="(uid={0})"
       userSearchSubtree=true
       roleBase="dc=example,dc=org"
       roleName="cn"
       roleSearchMatching="(uniqueMember={0})"
       roleSearchSubtree=false
       ;
};
