activemq {
   org.apache.activemq.artemis.spi.core.security.jaas.LDAPLoginModule required
      debug=true
      reload=true
      initialContextFactory="com.sun.jndi.ldap.LdapCtxFactory"
      connectionURL="ldap://127.0.0.1:389"
      authentication="simple"
      userSearchSubtree=true
      connectionProtocol="s"
      connectionUsername="cn=admin,dc=redhat,dc=com"
      connectionPassword="admin"
      userBase="ou=users,dc=redhat,dc=com"
      userSearchMatching="(uid={0})"
      roleBase="ou=roles,dc=redhat,dc=com"
      roleName="cn"
      roleSearchMatching="(uniqueMember={0})"
      referral="ignore";
};

